<div class="card text-white @ViewBag.cardTheme" style="width: 30rem; border-color: @ViewBag.color">
    <div class="card-header">
        <h5 class="card-title fs-1">Guessing game</h5>
        <h6 class="card-subtitle fs-3 mb-2">Number of guesses: @ViewBag.noGuesses</h6>
    </div>
    <div class="card-body">
        <h3 class="card-text fs-5">@ViewBag.info</h3>
    </div>
</div>
