<div class="alert alert-info" role="alert">
    You can now generate a new number between 0-@ViewBag.maxRange. 
    Go to <a href="../Draw" class="alert-link">/Draw</a> to generate a new number.
</div>